<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL FOOTBALL</title>
    {{>links}}
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">

</head>
<body class="">
    <header>
        {{>navbar}}
            <main class="animate__animated animate__fadeIn">
                <section>
                    <h3 class="">Millions are Betting on Favourite teams</h3>
                    <h1 class="">Bet in Football <span></span></h1>
                    <a href="/register" class="btn-one">SignUp</a>
                    <a href="/login" class="btn-two">Login</a>
                </section> 
            </main>
        
    </header>
    {{>scripts}}
</body>
</html>