<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL FOOTBALL</title>
    {{>links}}
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        {{>navbarsecret}}
            <main class="animate__animated animate__fadeIn">
                <section>
                    <h3 class="">Welcome to the Official Page.</h3>
                    <h1 class="">Bet in Football <span></span></h1>
                </section> 
            </main>
            
                <section class="highlights">
                    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
                            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img src="./images/Ligue_1_Uber_Eats_logo.svg.png" class="w-100 d-block img-fluid" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img src="./images/serieA_logo.jpg" class="w-100 d-block img-fluid" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img src="./images/serieA_logo.jpg" class="w-100 d-block img-fluid" alt="Third slide">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </section>
            
    </header>
    {{>scripts}}
</body>
</html>