<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English league</title>
    {{>links}}
    <link rel="stylesheet" href="./css/standings.css">   
</head>

<body>
  <header>
    {{>navbar}}
    <div class="container">
      <div class="standings">
        <h1 class="">LEAGUES</h1>
      </div>
      <hr class="mb-4">
    <div class="row row-cols-1 row-cols-md-3 g-5 card-main ">
      <!-- animate__animated animate__lightSpeedInLeft -->
        <!---**********************-->
        <div class="col animate__animated animate__fadeInDown">
          <div class="card">
            <img src="../images/english_premiere_league.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">English premiere League</h5>
              <p class="card-text">The Premier League is the highest level of the English football league system. Contested by 20 clubs, it operates on a system of promotion and relegation with the English Football League.</p>
              <a href="/leagues-epl"><button type="button" class="btn btn-primary">CHECK RANKINGS</button></a>
            </div>
          </div>
        </div>
        <!---**********************-->
        <div class="col animate__animated animate__fadeInDown">
          <div class="card">
            <img src="../images/LaLiga_Logo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">LaLiga</h5>
              <p class="card-text">LaLiga is the top men's professional football division of the Spanish football league system. Administered by Liga Nacional de Fútbol Profesional, it is contested by 20 teams..</p>
              <a href="/leagues-laliga"><button type="button" class="btn btn-primary">CHECK RANKINGS</button></a>
            </div>
          </div>
        </div>
          <!---**********************-->
          <div class="col animate__animated animate__fadeInDown ">
            <div class="card">
              <img src="../images/serieA_logo.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Serie A</h5>
                <p class="card-text">The Serie A, officially known as Serie A TIM, is a professional league competition for football clubs located at the top of the Italian football league system.</p>
                <a href="/leagues-seriea"><button type="button" class="btn btn-primary">CHECK RANKINGS</button></a>
              </div>
            </div>
          </div>
          <!---**********************-->
          <div class="col animate__animated animate__fadeInDown">
            <div class="card">
              <img src="../images/UEFA_Champions_League.svg.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">UEFA Champions League</h5>
                <p class="card-text">The UEFA Champions League is an association football competition organised by the European Associations and contested by top-division European clubs.</p>
                <a href="/leagues-uefa"><button type="button" class="btn btn-primary">CHECK RANKINGS</button></a>
              </div>
            </div>
          </div>
          <!---**********************-->
        <div class="col animate__animated animate__fadeInDown">
          <div class="card">
            <img src="../images/Bundesliga_logo_(2017).svg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bundesliga</h5>
              <p class="card-text"> The top of the German football league system, the Bundesliga is Germany's primary football competition. The Bundesliga comprises 18 teams.</p>
              <a href="/leagues-bundesliga"><button type="button" class="btn btn-primary">CHECK RANKINGS</button></a>
            </div>
          </div>
        </div>
          <!---**********************-->
          <div class="col animate__animated animate__fadeInDown">
            <div class="card">
              <img src="../images/ISL_Logo.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Indian Super League</h5>
                <p class="card-text">The Indian Super League is the men's highest level of the Indian football league system. Administered by the All India Football Federation.</p>
                <a href="/leagues-isl"><button type="button" class="btn btn-primary">CHECK RANKINGS</button></a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </header>
    {{>scripts}}    
</body>
</html>