<nav
  class="navbar navbar-expand-sm sticky-top animate__animated animate__fadeIn"
  style="background-color: rgba(0,0,0,0.5); padding : 20px 100px 0 ;
color : #fff ;"
>
  <a class="navbar-brand" href="/secret"><h1
      class="font-weight-bold text-white"
    >FOOTBALL HAVEN<i class="fa-solid fa-futbol"></i></h1></a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 font-weight-bold">
      <li class="nav-item active">
        <a class="nav-link" href="/secret">HOME
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/standings">STANDINGS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">GALLERY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chat">FORUM</a>
      </li>
      <li>
        <div class="dropdown ml-2">
          <button
            class="btn btn-secondary dropdown-toggle bg-success"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Connect
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#"><i class="fa-brands fa-instagram fa-fade" style="color: rgb(251, 140, 159);"></i>  Instagram</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-brands fa-facebook fa-fade" style="color: blue;"></i>  Facebook</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-brands fa-twitch fa-fade" style="color:blue"></i>  Twitch</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a href="/logout"><button type="button" class="btn btn-primary ml-2">Logout</button></a>
      </li>
    </ul>
  </div>
</nav>